numpy
matplotlib
scikit-learn
scikit-image
Shapely
pandas
pytest
torch==1.11.0
tqdm
h5py==3.6.0
segmentation_models_pytorch==0.2.1
torchvision==0.12.0
albumentations==1.1.0
evalutils==0.3.1
warmup-scheduler==0.3